<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>concert11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>write</servlet-name>
    <servlet-class>com.concert.controller.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>write</servlet-name>
    <url-pattern>/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbs</servlet-name>
    <servlet-class>com.concert.controller.BbsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbs</servlet-name>
    <url-pattern>/bbs.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbsview</servlet-name>
    <servlet-class>com.concert.controller.BbsViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbsview</servlet-name>
    <url-pattern>/bbsview.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bbsdelete</servlet-name>
    <servlet-class>com.concert.controller.BbsDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bbsdelete</servlet-name>
    <url-pattern>/bbsdelete.do</url-pattern>
  </servlet-mapping>
</web-app>